asgiref==3.11.1
celery==5.5.3
cloudinary==1.44.1
Django==6.0.2
django-cloudinary-storage==0.3.0
djangorestframework==3.16.1
python-dotenv==1.2.1
psycopg==3.3.3
redis==6.4.0
sqlparse==0.5.5
tzdata==2025.3
